<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

        <form action = '{% url 'post:index' %}' accept-charset="utf-8" name = "post_infor" method = "get">
            <fieldset style = "width:150">
                <legend>택배 조회</legend>
                    회사 : <select name="post_company">
                                  <option value="CJ대한통운"> CJ대한통운 </option>
                                  <option value="CU"> CU편의점택배 </option>
                                  <option value="우체국택배"> 우체국택배 </option>
                                  <option value="CVSNet"> GS편의점택배(postbox) </option>
                                  <option value="한진택배"> 한진택배 </option>
                                  <option value="롯데택배"> 롯데택배 </option>
                                  <option value="로젠택배"> 로젠택배 </option>


                                  <option value="EMS"> EMS </option>
                                  <option value="DHL express"> DHL express </option>
                                  <option value="Fedex"> Fedex </option>

                          </select>

                    운송장번호 : <input type = "text" name = "post_number"/><br><br>
                    <input type = "submit" value = "조회"/>

        </form>
</body>
</html>